<!--This is a template HTML document.
-->
<!DOCTYPE html>
<html lang="en">
<head>
		<meta	charset="utf-8">
<% if (htmlWebpackPlugin.options.trackJsToken) { %>
<!--Begin trackJS-->
		<script>
		    window._trackJs = {
		        token: '<%= htmlWebpackPlugin.options.trackJsToken %>'
									};
		</script>
		<script src="https://cdn.trackjs.com/releases/current/tracker.js">
		</script>
		<!--end trackJS-->
<% } %>
	</head>
	<body>
		<h1>Users</h1>
		<table>
				<thead>
					<th>&nbsp</th>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</thead>
			<tbody id="users">

			</tbody>
		</table>

	</body>
	</html>
